#pt{
    background-color: black;
    color: white;
}
#mt{
    background-color: brown;
    color: white;
}
#vt{
    background-color: red;
    color: white;
}
#lt{
    background-color: orange;
    color: white;
}
#at{
    background-color: yellow;
    color: black;
}
#vdt{
    background-color: green;
    color: white;
}
#azt{
    background-color: blue;
    color: white;
}
#pt{
    background-color: purple;
    color: white;
}
#ct{
    background-color: gray;
    color: white;
}
#bt{
    background-color: white;
    color: black;
}
#fp{
    background-color: black;
    color: white;
}